body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.example-print {
  display: none;
}
@media print {
  .example-screen {
      display: none;
   }
   .example-print {
      display: block;
   }
}

@media (min-width: 768px){
  #right {
    height: 100%;
    overflow-y: scroll;
  }
}

.fixed-div{
  margin-top: 10%;
  margin-bottom: 5%;
}

.scrollable{
  height: 100vh;
  /* margin-bottom: 10px; */
  overflow:scroll;
  overflow: -moz-scrollbars-vertical; 
  /* -webkit-overflow-scrolling: touch; */
}