body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.example-print {
  display: none;
}
@media print {
  .example-screen {
      display: none;
   }
   .example-print {
      display: block;
   }
}